<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
  </head>
  <body>
    <h2>Form Submitted Successfullyy</h2>
    <p>Thank you for submitting the form. Here is the data you submitted:</p>
    {% for i in items %}
    <ul>
      <li>Name: {{ i.name }}</li>
      <li>City: {{ i.city }}</li>
      <li>Marks: {{ i.marks}}</li>
    </ul>
    {% endfor %}
  </body>
</html>
